$maxGrowAmount: 20 !default;
$flexRowClass: flex-row !default;
$margin: 10px !default;

@mixin setGrowClasses() {
  @for $i from 0 through $maxGrowAmount {
    .#{$flexRowClass}__cell--grow-#{$i} {
      flex-grow: #{$i};
    }
  }
}

.#{$flexRowClass} {
  @include setGrowClasses();
  display: flex;
  width: 100%; // nested rows

  &__cell {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    margin: 0 $margin;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &--center {
      justify-content: center;
      align-items: center;
    }

    &--center-h {
      justify-content: center;
    }

    &--center-v {
      align-items: center;
    }

    &--start-h {
      justify-content: flex-start;
    }

    &--end-h {
      justify-content: flex-end;
    }

    &--start-v {
      align-items: flex-start;
    }

    &--end-v {
      align-items: flex-end;
    }

    &--space-around {
      justify-content: space-around;
    }

    &--space-between {
      justify-content: space-between;
    }

    &--shrink {
      flex-shrink: 1;
      flex-grow: 0;
      flex-basis: inherit;
    }

    &--ellipsis {
      overflow: hidden;

      &__content {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &--no-margin {
      margin: 0 !important;
    }
  }
}
